.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
}

article {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.new-translator {
  border: 1px solid grey;
  border-radius: .5rem;
  padding: 1rem;
  max-width: 30%;
}

.translator-list {
  border: 1px solid grey;
  border-radius: .5rem;
  padding: 1rem;
}

label, input {
  display: block;
}

label:not(:first-child) {
  margin-top: 1rem;
}
